h1 {
    color: #025157;

}
h3 {
    color: #46484c;
    font-family: "Slabo 27px", serif;
    font-size: 20px;
    margin-bottom: 30px;
}
p {
    color: #8b8b8bcc;

}
body {
    background-color: #fffbf7;
    margin: 0%;
    font-family: "Open Sans", sans-serif;
}
button {
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 22px;

}

header a img {
    width: 30px;
}
.image_matcha{
    width: 15%;
}
.navbar{
    text-align: center;
    color: #025157;
}
.main-nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.main-bg-nav-color{
    background-color:#fffbf7 ;
}

.actions{
    width: 20%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}
.actions a {
    color: #67b54b;
    text-decoration: none;
}
.actions button {
    color: white;
    background-color: #67b54b;
    padding: 7%;
    border: 0;
    border-radius: 5px;
}
.main h1 {
    font-family: 'alegreya', sherif;
    font-size: 40px;
    font-weight: 900;
}
img {
    width: 100%;
    vertical-align: middle;
}
.second-image{
    width: 60%;
    vertical-align: middle;
}
.first-image{
    width: 20%;
    vertical-align: middle;
}
.main{
    text-align: center;
    margin-top: 260px;

}
.header{
    margin: 0px 20px 0px 20px;
}
header > * {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    height: 100%;
    line-height: 45px;
}
.header li {
    display: inline;
    margin: 0 15px;
    color: #025157;
}
.features{
    display: grid;
    grid-template: repeat(2 , 1fr) / repeat(2 , 1fr);
    height: 600px;
    background-color: #025157;
    padding: 5% 10%;
}
.feature-card{
    padding: 0 15px 20px;
}
.feature-content{
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
}
.feature-content .feature-text{
    flex: 2;
    padding: 10px 20px;
}
.feature-text figure{
    margin-left: 0;
}
.feature-text img {
 height: 30px;
}
.feature-content .feature-text h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}
.feature-content .feature-text p{
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}
.feature-content .feature-text a{
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}
.feature-content .feature-image{
    flex: 1;
}
.feature-image figure img {
    width: 100%;
}
.feature-image figure {
    width: 100%;
}
.feature-image img {
    width: 100%;
}
.movimiento{
    transition: width 1s;
}
.movimiento:hover{
    width: 150%;
}
section form input{
    border: 1px solid #b6b6b6;
    padding:20px;
    width: 60%;
    max-width: 250px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: -5px;
}
.card-container {
    background-color: #a1d683;
    padding: 10% 0;
}
.comments {
    padding: 0 15px;
}

.comments h1 {
    color: #025157;
    font-weight: bold;
    text-align: left;
    font-family: "Alegreya", serif;
    font-weight: 900;
    font-size: 51px;
    line-height: 61px;
    letter-spacing: -2px;
}

.comments p {
    font-size: 18px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.comments .btn-beefy {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    padding-top: 12px;
    text-align: center;
    color: #fff;
    background: #025157;
    border-radius: 8px;
    height: 45px;
    width: 166px;
    transition: all .2s ease-in-out;
}

.comments .btn-beefy:hover {
    background-color: #67b54b;
    color: #fff;
}

.comments img {
    margin: 40px 0;
    padding-right: 10px;
    width: 50%;
}

.company{
    position: absolute;
    top: 265px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body h5{
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
    font-family: "Slabo 27px", serif;
}
.card-body h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}
/* Media Querys */
@media screen and (max-width: 425px){
/* Esto se elimino para usar */
    .main h1{
        font-size: 30px;
    }

    p{
        margin: 0;
    }
    button{
        margin-bottom: 10px;
    }
    .first-image{
        width: 70%;
    }
    .second-image{
        width: 100%;
    }
    .publish{
        flex-direction: column;
        margin: 15px 0;
        width: 90%;
    }
    .features{
        height: 100%;
        grid-template: repeat(4,1fr)/ 1fr;
    }
}